* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body,
html {
  font-family: "Open Sans", "Helvetica Neue";
}

a {
  text-decoration: none;
}

.color-green {
  color: #28a745;
}

.icons {
  background-color: green;
  color: white;
  padding: 15px;
  border-radius: 50%;
}

/* Header */
header {
  background-image: url("/images/home/showcase.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}

header * {
  z-index: 10;
}

/* nav bar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  width: 100vw;
  color: white;
  background: #333;
  opacity: 0.8;
  top: 0;
}

.navbar.top {
  background: transparent;
}

#nav h1 {
  font-size: 30px;
}

#nav h1 i {
  padding: 0 10px;
}
#nav ul {
  list-style: none;
}

#nav ul li {
  display: inline;
}

#nav ul li a {
  color: white;
  padding: 10px 20px;
  margin: 0 5px;
}

#nav ul li a:hover {
  border-bottom: 2px solid #28a745;
}

/* showcase contents */
#showcase-contents {
  line-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  text-align: center;
}

#showcase-contents h1 {
  font-size: 55px;
  display: block;
}

#showcase-contents p {
  font-size: 23px;
  margin: 20px 0;
}

#showcase-contents a {
  color: white;
  display: inline-block;
  background-color: #28a745;
  padding: 0 20px;
  border-radius: 5px;
}

/* about */

#about #what-we-do {
  display: flex;
  text-align: center;
  align-content: center;
  padding: 30px;
  background: #f4f4f4;
  line-height: 1.6;
}
#about #what-we-do div {
  flex: 1;
  height: 40vh;
  padding: 20px;
}
#about #what-we-do div i,
#about #what-we-do div h2 {
  margin-bottom: 20px;
}
#about #what-we-do div p {
  margin: 20px 0;
}

#about-image {
  display: flex;
}

#about-image div {
  flex: 1;
}

#about-image #about-image-part img {
  height: 100%;
  width: 100%;
}
#about #about-content-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-color: #28a745;
  color: white;
  align-items: flex-start;
}

#about #about-content-part h4 {
  margin-bottom: 10px;
  font-size: 16px;
}
#about #about-content-part h2 {
  margin-bottom: 10px;
  font-size: 40px;
}

#about #about-content-part p {
  line-height: 1.6;
  margin: 10px 0;
}

#about #about-content-part a {
  color: white;
  padding: 15px 30px;
  border: 1px solid white;
  border-radius: 10px;
  background: transparent;
  margin: 10px 0px;
}

/* cases*/

#cases {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#cases #cases-row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
#cases #cases-row1 h2 {
  margin: 20px 0px;
  font-size: 40px;
}
#cases #cases-row1 p {
  margin: 10px 0px;
}

#cases #cases-row2 #cases-row2-1,
#cases #cases-row2 #cases-row2-2 {
  display: flex;
}

#cases #cases-row2 #cases-row2-1 div,
#cases #cases-row2 #cases-row2-2 div {
  margin: 5px;
  flex: 1;
}

#cases #cases-row2 #cases-row2-1 div img,
#cases #cases-row2 #cases-row2-2 div img {
  max-width: 100%;
  max-height: 100%;
}

/* blog */

#blog {
  display: flex;
}
#blog div {
  flex: 1;
}

#blog #blog-image-part img {
  height: 100%;
  width: 100%;
}
#blog #blog-content-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-color: #0284d0;
  color: white;
  align-items: flex-start;
}

#blog #blog-content-part h4 {
  margin-bottom: 10px;
  font-size: 16px;
}
#blog #blog-content-part h2 {
  margin-bottom: 10px;
  font-size: 40px;
}

#blog #blog-content-part p {
  line-height: 1.6;
  margin: 10px 0;
}

#blog #blog-content-part a {
  color: white;
  padding: 15px 30px;
  border: 1px solid white;
  border-radius: 10px;
  background: transparent;
  margin: 10px 0px;
}

#who-are-we {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
#who-are-we-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}
#who-are-we-text h4,
#who-are-we-text h2,
#who-are-we-text p {
  flex: 1;
}

#who-are-we-text h2 {
  margin: 20px 0px;
  font-size: 40px;
}
#who-are-we-text p {
  margin: 10px;
}

#who-are-we-image {
  display: flex;
  margin: 20px;
}

#who-are-we-image div {
  flex: 1;
  padding: 20px;
  text-align: center;
}
#who-are-we-image div img {
  height: 80%;
  width: 100%;
  border-radius: 50%;
}
#who-are-we-image div h4 {
  margin: 10px;
}

#who-are-we-image div p {
  margin: 10px;
}

/* contact */
#contact {
  display: flex;
}
#contact div {
  flex: 1;
}
#contact #image img {
  height: 100%;
  width: 100%;
}
#contact #contact-form {
  padding: 60px 30px;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  justify-content: center;
}

#contact #contact-form p {
  font-size: 40px;
}
#contact #contact-form form {
  padding: 20px 0px;
  height: 100%;
}
#contact #contact-form form input {
  padding: 12px;
  width: 100%;
  border: none;
  margin-bottom: 20px;
}
#contact #contact-form form button {
  padding: 12px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 30px;
  width: 100%;
}

/* footer */
footer {
  height: 200px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
footer #social {
  margin: 10px;
}

footer #social a {
  margin-right: 30px;
  color: white;
}
footer p {
  color: white;
  margin: 10px;
}

/* media queries */

@media (max-width: 768px) {
  #nav {
    display: flex;
    flex-direction: column;
    font-weight: lighter;
  }

  #nav h1 {
    padding-bottom: 20px;
  }

  #nav ul {
    display: flex;
  }

  #nav ul li a {
    padding: 10px 10px;
    margin: 0 3px;
  }
  #about #what-we-do {
    flex-direction: column;
    padding: 40px;
  }

  #about-image {
    flex-direction: column;
  }

  #cases #cases-row2 #cases-row2-1,
  #cases #cases-row2 #cases-row2-2 {
    display: flex;
    flex-direction: column;
  }
  #blog {
    flex-direction: column-reverse;
  }
  #who-are-we-image {
    flex-direction: column;
  }
  #contact {
    flex-direction: column;
  }
}
