* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body,
html {
  font-family: "Open Sans", "Helvetica Neue";
}

a {
  text-decoration: none;
}

.color-green {
  color: #28a745;
}

.icons {
  background-color: green;
  color: white;
  padding: 15px;
  border-radius: 50%;
}

/* Header */
header {
  background-image: url(/second-project/images/home/showcase.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
}

header * {
  z-index: 10;
}

/* nav bar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  width: 100vw;
  color: white;
  background: #333;
  opacity: 0.8;
  top: 0;
}

.navbar.top {
  background: transparent;
}

#nav h1 {
  font-size: 30px;
}

#nav h1 i {
  padding: 0 10px;
}
#nav ul {
  list-style: none;
}

#nav ul li {
  display: inline;
}

#nav ul li a {
  color: white;
  padding: 10px 20px;
  margin: 0 5px;
}

#nav ul li a:hover {
  border-bottom: 2px solid #28a745;
}

/* showcase contents */
#showcase-contents {
  line-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  text-align: center;
}

#showcase-contents h1 {
  font-size: 55px;
  display: block;
}

#showcase-contents p {
  font-size: 23px;
  margin: 20px 0;
}

#showcase-contents a {
  color: white;
  display: inline-block;
  background-color: #28a745;
  padding: 0 20px;
  border-radius: 5px;
}

/* about */

#about #what-we-do {
  display: flex;
  text-align: center;
  align-content: center;
  padding: 30px;
  background: #f4f4f4;
  line-height: 1.6;
}
#about #what-we-do div {
  flex: 1;
  height: 40vh;
  padding: 20px;
}
#about #what-we-do div i,
#about #what-we-do div h2 {
  margin-bottom: 20px;
}
#about #what-we-do div p {
  margin: 20px 0;
}

#about #image-part {
  display: flex;
}

#about #image-part div {
  flex: 1;
  height: 60vh;
}

#about #image-part div:nth-child(1) div {
  background-image: url(/second-project/images/home/people.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  flex-basis: 100%;
}

#about #image-part div:nth-child(2) {
  background-color: #28a745;
  padding: 30px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

#about #image-part div:nth-child(2) h4 {
  margin-bottom: 10px;
  font-size: 16px;
}
#about #image-part div:nth-child(2) h2 {
  margin-bottom: 10px;
  font-size: 40px;
}
#about #image-part div:nth-child(2) p {
  line-height: 1.6;
  margin: 10px 0;
}

#about #image-part div:nth-child(2) a {
  color: white;
  padding: 15px 30px;
  border: 1px solid white;
  border-radius: 10px;
  background: transparent;
  margin: 10px 0px;
}

/* media queries */

@media (max-width: 768px) {
  #nav {
    display: flex;
    flex-direction: column;
    font-weight: lighter;
  }

  #nav h1 {
    padding-bottom: 20px;
  }

  #nav ul {
    display: flex;
  }

  #nav ul li a {
    padding: 10px 10px;
    margin: 0 3px;
  }
  #about #what-we-do {
    flex-direction: column;
    padding: 40px;
  }

  #about #image-part {
    flex-direction: column;
  }
  #about #image-part div:nth-child(1) div {
    height: 0;
    padding-top: 50%;
  }
}
