body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
  color: white;
}

header {
  border: 1px solid rgb(39, 36, 36);
  background-color: rgb(39, 36, 36);
  height: 60px;
}

#logo {
  display: inline;
  height: 100%;
  float: left;
  width: 30%;
}
#nav {
  display: inline;
  height: 100%;
  float: left;
  width: 70%;
  text-align: right;
  filter: invert(100%);
}

#logo h1 {
  margin: 0;
  padding: 10px;
  margin-left: 50px;
}

#nav ul li {
  height: 100%;
  list-style: none;
  display: inline;
  padding: 12px;
  margin: 0;
  filter: invert(100%);
}
#nav ul {
  margin-right: 12%;
  height: 100%;
}

#nav ul li:hover {
  background-color: rgb(131, 115, 85);
}

footer {
  text-align: center;
  color: white;
  border: 1px solid rgb(70, 61, 61);
  background-color: rgb(70, 61, 61);
}

#main {
  background-color: #ececec;
  float: left;
}

#main-left {
  box-sizing: border-box;
  padding: 30px;
  float: left;
  width: 60%;
  height: 400px;
  text-align: left;
}

#main-left h1 {
  font-size: 30px;
}

#main-left p {
  padding: 10px;
}

#main-left h1 span {
  color: rgb(228, 181, 93);
}

#main-right {
  box-sizing: border-box;
  width: 40%;
  height: 400px;
  float: left;
}

#main-right div {
  box-sizing: border-box;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-image: url(/first-project/images/photo-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: 30px;
}

.clear {
  clear: both;
}

#customers {
  /* border: 5px solid green; */
  padding: 30px;
  background-color: red;
  background-image: url(/first-project/images/test-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#customers h1 {
  text-align: center;
  color: white;
  font-size: 30px;
}

#cus1 {
  /* border: 2px solid red; */
  height: 100px;
  background-color: rgb(253, 187, 109, 0.7);
  /* filter: opacity(10%); */
}

#cus1 div:nth-child(1) {
  box-sizing: border-box;
  display: inline;
  height: 90%;
  width: 7%;
  float: left;
  background-image: url(/first-project/images/person-1.jpg);
  background-size: cover;
  border-radius: 50%;
  margin: 5px;
}
#cus1 div:nth-child(2) {
  box-sizing: border-box;
  display: inline;
  height: 100%;
  width: 90%;
  float: left;
  padding: 20px;
}

#cus2 {
  /* border: 2px solid blue; */
  height: 100px;
  margin-top: 20px;
  background-color: rgb(253, 187, 109, 0.7);
  margin-bottom: 20px;
}

#cus2 div:nth-child(1) {
  box-sizing: border-box;
  display: inline;
  height: 90%;
  width: 7%;
  float: left;
  background-image: url(/first-project/images/person-2.jpg);
  background-size: cover;
  border-radius: 50%;
  margin: 5px;
}
#cus2 div:nth-child(2) {
  box-sizing: border-box;
  display: inline;
  height: 100%;
  width: 90%;
  float: left;
  padding: 20px;
}
